.HamburgerMenu{
    display: inline-block;
    cursor: pointer;
}

.Bar1,
.Bar2,
.Bar3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.Changed .Bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.Changed .Bar2 {opacity: 0;}

.Changed .Bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media (min-width: 500px){
    .HamburgerMenu{
        display: none;
    }
}

@media (max-width: 500px){
    .DesktopView{
        display: none;
    }
}